/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*===== Colors =====*/
    --hue-color:242;

    /* HSL Color Mode */
    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;

    /*===== Margenes Bottom =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;

}
img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

button,
input{
    border: none;
    outline: none;
}
/*=============== LAYOUT ===============*/


/*=============== REUSABLE CSS CLASSES ===============*/


/*=============== SIDEBAR ===============*/


/* Active Link */


/*=============== MAIN ===============*/


/*===== Home Section =====*/


/*===== Buttons =====*/


/*===== About Section =====*/


/*===== Qualification Section =====*/


/*===== Skills Section =====*/


/*===== Work Section =====*/

 

.work__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work__card{
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio__item-details {
    display: none;
}

.work__img{
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.work__button:hover .work__button-icon {
    transform: translateX(.25rem);
}
/* Active Item Work */
.active-work{
    background-color: var(--skin-color);
    color: var(--title-color);

}

/* Portfolio Popup */
.portfolio__popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio__popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio__popup-inner {
    background-color: rgb(25, 25, 25);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;

}

.portfolio__popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
    
}

.portfolio__popup-subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);
}

/* .details__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
} */

.details__description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.details__info li {
    margin-bottom: var(--mb-0-75);
    text-transform: capitalize;
    font-size: var(--small-font-size);    
}

.details__info li:last-child{
    margin-bottom: 0;
}

.details__info li span {
    font-weight: normal;
}

.details__info li a {
    text-transform: lowercase;
    color: var(--skin-color);
}



/*===== Services Section =====*/


/* Active Modal*/


/*===== Testimonial Section =====*/


/* Swiper Class */


/*===== Contact Section =====*/


/*=============== FOOTER ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== SCROLL BAR ===============*/


/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {}

@media screen and (max-width: 1216px) {}

@media screen and (max-width: 1024px) {}

/* For Medium Devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* For Small Devices */
@media screen and (max-width: 350px) {}